.filters {
    margin: auto auto;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    &__button {
        margin: 0 5px;
    }

    &--selected {
        background-color: darken($skycolor, 25%);
    }
}