.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: .75);
  width: 100%;
  height: 100%;

  &__thumbnails {
    padding: 10px;
    img {
      margin: 5px;
    }

    img.selected {
      border: 2px solid white;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;

  }

  &__preview {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  &__close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 95%;
    &:before{
      content: '';
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      transform: rotate(45deg);
    }
    &:after{
      content: '';
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      transform: rotate(-45deg);
    }
  }
}

