.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: .85);
  width: 100%;
  height: 100%;

  &__thumbnails {
    height: 50px;
    img {
      margin: 5px;
      align-self: center;
    }

    img.selected {
      border: 2px solid white;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
  }

  &-control-right {
    width: 50px;
    height: 50px;
    align-self: center;
    background-image: url('../img/arrow-right.png');
    background-size: cover;
  }

  &-control-left {
    width: 50px;
    height: 50px;
    align-self: center;
    background-image: url('../img/arrow-left.png');
    background-size: cover;
  }

  &__preview {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 95%;
    &:before{
      content: '';
      position: absolute;
      background-color: #fff;
      top: 9px;
      width: 100%;
      height: 2px;
      transform: rotate(45deg);
    }
    &:after{
      content: '';
      position: absolute;
      background-color: #fff;
      top: 9px;
      width: 100%;
      height: 2px;
      transform: rotate(-45deg);
    }
  }
}

