.welcome {
  display: flex;
  height: 500px;
  width: 100%;
  // background-clip: content-box;
  // background-color: #e3e3e3;
//   background-image: url(../img/background.jpg);
//   background-position: 90% 70%;
//   margin-bottom: 15px;
}
