@import "normalize";
@import "settings/fonts";
@import "settings/libs";
@import "settings/vars";


@import "searchform";
@import "welcome";
@import "button";
@import "hotels-list";
@import "hotel";
@import "filters";
@import "footer";
@import "gallery";

html {
    box-sizing: border-box;
    outline: none;
    user-select: none;
}

*,
*::before,
*::after {
    user-select: none;
    outline: none;
    box-sizing: inherit;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}

body input:required:valid,
body textarea:required:valid {
	color: #666;
}

body {
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-position: 0;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	background-color: #fdfdfd;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 1440px;
	min-width: 320px;
	padding: 0 30px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

@import "settings/media"; // Всегда в конце