@font-face {
  font-family: Roboto;
  src: url('../fonts/HelveticaNeue') format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Bold') format("ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/HelveticaNeueCyr-Roman') format("ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/ProximaNovaSemibold') format("ttf");
  font-style: normal;
  font-weight: 600;
}

